<div class=" container mt-3 presentacion">
    <div class="div-contenido" style=" padding-top: 30px;">
      <div style="padding:30px;">
        <br>
        <h1>Bienvenido Maestro Pokemon</h1>
        <h3>Vamos a Conseguir Pokemon, Todos nuestros Amigos aquí. Explora ahora.</h3>
        
        <form class="d-flex mt-5" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-success text-white" type="submit">Buscar</button>
        </form>
      </div>
</div>