@import url('https://fonts.googleapis.com/css2?family=Varela+Round');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower');
.presentacion{
    background-color: #1C2833;
}
h1{
    color: white;
}
h3{
    color:white
}